---

---

<section class="min-h-screen p-16 transition-all duration-1000 ease-in-out">
  <div class="container">
    <div class="flex flex-col gap-64">
      <div class="flex flex-col items-center gap-8">
        <h2
          id="about"
          class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-extrabold uppercase bg-clip-text bg-gradient-to-l from-accent text-transparent text-center"
        >
          Who are we?
        </h2>
        <span class="h-16 w-0 border-r border-accent border-dashed"></span>
        <h3 class="text-5xl uppercase font-extrabold mb-4 leading-normal">
          v1.0.0 <span class="badge">a bit shorter version</span>
        </h3>
        <p class="lg:text-lg xl:text-xl lg:w-1/2">
          Gathered together a bunch of amazing people with variety of interests
          and tasts in design and development of software solutions, we are a
          team of enthusiast, passionate && professional software developers
          seeking to help smooth digital transformation of local business in
          Tabriz, Iran. We have been involved in so many projects from small
          online e-commerce, personal, etc. to co-founding big ideas. Wanna know
          these amazing people? <a class="link link-accent" href="#team"
            >let's meet</a
          >
        </p>
        <h2
          class="text-9xl font-extrabold uppercase bg-clip-text bg-gradient-to-l from-red-100 text-transparent"
        >
        </h2>
      </div>
    </div>
  </div>
</section>
