<section
      id="intro"
      class="intro flex flex-col justify-center items-center p-4"
    >
      <h1
        class="text-center text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl uppercase leading-relaxed font-extrabold mb-16"
      >
        <span
          class="bg-clip-text bg-gradient-to-l from-primary text-transparent"
          >Developing
        </span>
        <span class="font-thin">Possibilities</span><br />
        <span class="font-thin">Empowering</span>
        <span
          class="bg-clip-text bg-gradient-to-r from-primary text-transparent"
        >
          Success</span
        >
        <br />
      </h1>
      <p class="text-center text-xl">
        Empower Your Business with Cutting-Edge Development Solutions!
      </p>
    </section>
    <style>
      .intro {
    min-height: calc(100vh + 150px);
  }
    </style>