---

---

<footer id="contact" class="bg-neutral p-10 text-neutral-content">
  <div class="container">
    <div class="grid grid-cols-12">
      <div class="col-span-12">
        <h2 class="text-3xl pb-10 font-bold">Contact us</h2>
      </div>
      <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <h2 class="footer-title text-xl">address</h2>
        <address>
          307, Tabriz Techno Park, Mellat <br /> Tabriz, East Azarbaigan, Iran
        </address>
      </div>
      <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <h2 class="footer-title text-xl">phone</h2>
        <div class="flex flex-col items-start gap-4">
          <a class="text-indigo-100" href="tel:+989141209174">0914 120 9174</a>
          <a class="text-indigo-100" href="tel:+989141102818">0914 110 2818</a>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 xl:col-span-3" class="footer-title">
        <h2 class="footer-title text-xl">social</h2>
        <a class="btn btn-square btn-primary mr-2" href="https://linkdin.com/"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            ></path>
            <path d="M8 11l0 5"></path>
            <path d="M8 8l0 .01"></path>
            <path d="M12 16l0 -5"></path>
            <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
          </svg></a
        >
        <a class="btn btn-square btn-primary" href="mailto:info@ipekdev.ir"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M12 19h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v5.5"
            ></path>
            <path d="M16 19h6"></path>
            <path d="M19 16v6"></path>
            <path d="M3 7l9 6l9 -6"></path>
          </svg></a
        >
      </div>
      <div class="col-span-12 md:col-span-6 xl:col-span-3">
        <h2 class="footer-title text-xl">Email</h2>
        <a href="mailto:info@ipekdev.ir" class="text-indigo-100"
          >info@ipekdev.ir</a
        >
      </div>
    </div>
  </div>
</footer>
